{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src='{%static "script.js"%}'></script>
    
</head>
<body>
    {% if user.is_authenticated %}

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{%url 'articles:list' %}">First Project</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'articles:list' %}">Home</a></li>
                    <li><a href="{% url 'articles:create' %}">Add Articles</a></li>
                    <li>
                        <form action="{% url 'accounts:logout' %}" method='POST'>
                            {% csrf_token %}
                            <input class='custom-btn' type="submit" value='Logout'>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>


                        

    {% else %}

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{%url 'articles:list' %}">First Project</a>
                </div>
                <ul class="nav navbar-nav">
                        <li><a href="{% url 'articles:list' %}">Home</a></li>
                        <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
                        <li><a href="{% url 'accounts:login' %}">Login</a></li>
                    </div>
                </ul>
            </div>
        </nav>

    
    {% endif %}
    
    {% block content %}
    {% endblock %}


    <script>
        $('document').ready(function(){
            $('#id_username').attr('autocomplete','off')
        })
    </script>

</body>
</html>