{% extends 'base_layout.html' %}

{% block content %}

    <h3>User Sign Up:</h3>
    <form action="{% url 'accounts:signup' %}" method='POST'>
        <div class="form-group">
            <div class="col-sm-6">
                {% csrf_token %}
                {{ form }}
                <input type="submit" class='btn btn-primary btn-signup' value='Sign Up'>
            </div>
        </div>
    </form>

    <script>
        $('document').ready(function(){
            $('#id_username').attr('class', 'form-control')
            $('#id_password1').attr('class', 'form-control')
            $('#id_username').attr('placeholder', 'Enter Username')
            $('#id_password1').attr('placeholder', 'Enter your password')
            $('#id_password2').attr('class', 'form-control')
            $('#id_password2').attr('placeholder', 'Confirm your password')
            
        })
    </script>
{% endblock %}